.uploadContainer {
  display: flex;
  /* top: 40px; */
  width: 100%;
  height: 100%;
  align-items: center;
  background-color: white;
  padding: 15px 0;
  z-index: 4;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 100%;
  /* border: green 2px solid; */
  /* margin-bottom: 20px; */
}

.imageShadow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 280px;
  background-color: rgb(222, 240, 255);
  border-radius: 8px;
  /* border: solid rgb(191, 225, 255); */
}

.imageUpload {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  height: 10%;
  /* border:  green solid 1px; */
}

.buttonFrame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(215, 215, 215);
  border: solid rgb(255, 255, 255) 1px;
}

.uploadButton {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(215, 215, 215);
  border: solid rgb(255, 255, 255) 1px;
}

.reportContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  /* border: solid blue 2px; */
}

.innerInfoContainer {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 80%;
  justify-content: space-around;
  align-items: flex-start;
}

.cameraContainer {
  width: 320px;
  height: 240px;
  /* border: solid red 2px; */
}

@media only screen and (max-width: 600px) {
  .uploaContainer {
    position: absolute;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: solid purple 2px; */
  }
  .reportContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    margin-right: 0;
  }

  .imageContainer {
    height: 50%;
    width: 100%;
  }

  .buttonFrame {
    background-color: white;
  }

  .uploadButton {
    border: solid rgb(140, 140, 140) 2px;
  }

  .innerInfoContainer {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
    /* border: solid crimson 2px; */
  }
}
