.tree-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    /* border: solid red 2px; */
    background-color: white;
    color: black;
    z-index: 5;
}

.graph-container {
    display:flex;
    width: 100%; 
    height: 100%;
    justify-content:space-around; 
    align-items:center;

}

.back-button {
    height: 30px;
    border: none;
    background-color:#4D6790;
    font-weight: bold;
    color: black;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}