.map-container {
    position:absolute; 
    width:60vw;
    height:60vh;
}

.popup {
    width: 200px;
    color: black;
    max-height: 100px;
}

.popup-button {
    border: solid 1px black;
}

.popup img {
    max-width: 40%;
}