.map-container {
    position:absolute; 
    width:60vw;
    height:60vh;
}

.popup {
    width: 200px;
    color: black;
    max-height: 100px;
}

.popup-button {
    border: solid 1px black;
}

.popup img {
    max-width: 40%;
}

.button {
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.green-button{
    background-color: green;
}

.yellow-button{
    background-color: yellow;
}

.red-button{
    background-color: red;
}